<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contakt.io | Share contakts during a meeting.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Contakt.io</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">

          <div class="page-header">
            <h1>Meeting <%= meetings[0]['name'] %>. <small>Contakt email list</small></h1>
          </div>

          <div class="well">
            <% if (meetings.length) { %>
              <ul>
                <% meetings.forEach(function(meeting){ %>
                  <li><%= meeting['email'] %></li>
                <% }) %>
              </ul>
            <% } %>
          </div>
          
          <form method="post" action="/<%= meetings[0]['name'] %>" 
            enctype="application/x-www-form-urlencoded" id="meetingForm" class="form-inline">
            <legend>Add your email</legend>
            <p class="text-error" id="error"></p>
            <input type="text" placeholder="your email..." name="email" id="email" />
            <button type="submit" class="btn">Submit</button>
          </form>

          <div class="form-actions">
            <a class="btn btn-primary btn-large" href="/<%= meetings[0]['name'] %>/send">Send all</a>
          </div>

        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Iterate 2012</p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
  